.cell {
  position: absolute;
  background: url('https://www.explora-project.com/media/cache/expedition_gallery/2018/12/7366-paysages-d-islande.jpg');
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  transition: all 0.3s linear;
}
